main {
    background-color: rgb(255, 255, 255) !important;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255) !important;
}

.sidebar {
    background-color: rgb(226, 226, 226) !important;
}

.sub_menu_item {
    background-color: white !important;
    border-radius: unset !important;
    margin: 0 !important;
    &:hover {
        background-color: white !important;
        border-radius: unset !important;
        margin: 0 !important;
    }
}

.parent_menu_item {
    border-radius: unset !important;
    margin: 0 !important;
    &:hover,
    &:focus,
    &:active {
        border-radius: unset !important;
        margin: 0 !important;
    }
}
