main {
    background-color: rgb(255, 255, 255) !important;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 !important;
}

// sidebar styles
.sidebar-horizontal {
    display: none;
}
.sidebar {
    background-color: #f0f0f0 !important;
    padding: 0 !important;
    :global(.parent_menu_item) {
        &:hover {
            background-color: transparent !important;
        }
    }
    :global(.ant-menu-submenu-title) {
        padding-left: 10px !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        &:hover {
            background-color: transparent !important;
        }
    }
    :global(.ant-menu-submenu-arrow) {
        display: none;
    }
}

.sidebar .parent_menu_item {
    background-color: #d3d3d3;
    border-radius: unset !important;
    font-weight: bold;
}

.sidebar .sub_menu_items {
    background-color: white !important;
    border-radius: unset !important;
    &:hover {
        background-color: white !important;
    }
}

.sidebar .sub_menu_items .number {
    background-color: #ffeb3b;
    color: #000;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    height: 24px;
    line-height: 16px;
    text-align: center;
    margin-left: 8px;
}

.sidebar .sub_menu_items .number:hover {
    background-color: #ffeb3b !important;
}

.sidebar .sub_menu_item {
    background-color: white !important;
    border-radius: unset !important;
    padding-left: 10px !important;
    font-weight: lighter;
}

.sidebar .sub_menu_item ant-menu-item-content {
    padding-left: 10px !important;
}
//end sidebar styles

//main content styles
.main .title span {
    color: red;
    font-size: 30px;
}
.main .link {
    padding: 15px;
    margin: 0;
}
// end main content styles

//responsive
@media (max-width: 768px) {
    .sidebar-vertical {
        display: none;
    }
    .sidebar-horizontal {
        display: block;
        background-color: #f0f0f0;
        :global(.ant-menu-submenu) {
            background-color: transparent !important;
        }
        :global(.ant-menu-submenu-open) {
            &::after {
                content: '';
                border-bottom-color: #f0f0f0 !important;
            }
            &::before {
                content: '';
                border-bottom-color: #f0f0f0 !important;
            }
        }
    }
}

@media (max-width: 480px) {
    .sidebar {
        font-size: 10px;
    }
}
