main {
  background-color: rgb(255, 255, 255) !important;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 0px;
  background-color: rgb(255, 255, 255) !important;
}

.title {
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
}

.counting {
  color: rgb(215, 25, 32);
}

.search_component {
  background-image: url('../../../assets/red-banner.jpg');
  background-size: contain;
  background-clip: border-box;
  padding: 30px;
  //   background-repeat: no-repeat;
  background-position: center center;
}

.search_form {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  &:focus,
  &:hover {
    border-color: transparent !important;
  }
  &::placeholder {
    font-family: inherit;
    font-weight: 400;
    color: #000000;
  }
}

.submit_search {
  background-color: rgb(244, 230, 195) !important;
  color: rgb(215, 25, 32);
  font-weight: bold;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  &:hover {
    color: rgb(215, 25, 32) !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 5px;
  }

  .title {
    font-size: 18px;
  }

  .search_component {
    padding: 20px;
  }

  .submit_search {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 16px;
  }

  .search_component {
    padding: 10px;
  }

  .search_form {
    display: block;
  }

  .submit_search {
    display: block;

    font-size: 12px;
  }
}

.card_item {
  font-family: inherit;
}

.locate {
  font-size: 15px;
  font-weight: bold;
}

.card_item_content {
  font-size: 10px;
  .counting {
    font-weight: bold;
  }
}

.horizontal-override > .ant-form-item {
  flex-direction: inherit;

  .ant-form-item-row {
    display: inline-flex;
    height: 32px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.card_item {
  padding: 20px !important;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.card_item:hover {
  background-color: #f0f0f0;
  transition: all 0.3s ease-in-out;
}
.card_title {
  font-size: 15px;
  font-weight: bold;
}
.card {
  margin-top: 15px;
}
