.container-home{
    width: 1200px;
    margin: auto;
}


.banner {
    background-image: url('../../../assets/images/banner.jpg');
    background-size: cover;
    background-clip: border-box;
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.landing-text{
    max-width: 100%;
}

.content {
    background-color: #fff5e1;
    .list-options {
        padding: 30px 0;
        .custom-card {
            max-width: 240;
            min-width: 200;
            width: 240px;
            flex: 1 1 240px;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding-top: 15px;
            .icon-view {
                .image-icon {
                    width: 100px;
                    text-align: center;
                    margin: auto;
                    border-radius: 50%;
                }
            }
        }
    }
}
